
//difinicion de variables globales.
@color-fondo:#f1f1f1;
@fuente:Arial;
@posicion:left;

//selector universal :
* {
  box-sizing: border-box;
}

body {
  font-family:@fuente;//variables globales
  padding: 10px;
  background:@color-fondo;//variables globales
}

//funcion de la clase header
.header{
  padding: 30px;
  text-align: center;
  background: white;
  h1{
    font-size: 50px;
  }
}
//funcion de la clase top nav
.topnav{
  overflow: hidden;
  background-color: #333;

  a{
    float: @posicion;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover{
      background-color: #ddd;
      color: black;
    }
  }
}
.row{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
.leftcolumn {
  float: @posicion;//variable global
  width: 75%;
}

.rightcolumn {
  float: @posicion;//variable global
  width: 25%;
  background-color: @color-fondo;//variable globla
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

//cambios de la pantalla al hacerla grande o pequella
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
